@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
.menu-button {
    padding: 1rem;
    cursor: pointer;
    background-color: #5632D5;
    color: #F8F8FF;
    border-radius: 1rem;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
    font-size: inherit;
}
.modal-overlay {
    display: flex;
    border-radius: 2rem;
    padding: 1rem;
    flex-direction: column;
    box-shadow: 0 0 20px #B28ABD;
    align-items: center;
    margin:1rem;
    align-self: center;
    width: 80%;
}

label {
    color: #F8F8FF;
}

h3 {
    color: #F8F8FF;
    text-align: center;
    text-shadow: 0 0 16px #5632D5, 0 0 20px #5632D5, 0 0 30px #5632D5, 0 0 40px #5632D5;
}

.form_field {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: center;
}

.modal-button {
    text-align: center;
}

.searching {
    background-color: #3C0056;
}

.searchingText
{
    color:white;
}