@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content:center;
    background-color: #01010E;
}

.buttons_container {
    display: flex;
    justify-content:center;
    align-items:center;
}


label {
    color: #F8F8FF
}

h3 {
    color: #F8F8FF;
    text-align: center;
}

h1 {
    color: #F8F8FF;
    align-self: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

p {
    color: #F8F8FF;
    font-size: 1rem;
    text-align: center;
}

.image {
    width:100%;
    align-self: center;
    padding: 0;
}

.logoimage{
    margin-top:3rem;
}
