@page "/game"
<head>
    <link href="css/Board.css" rel="stylesheet" />
</head>
<body>
    <div class="chessboard">
        @for (int row = 1; row <= 8; row++)
        {
            @for (int col = 1; col <= 8; col++)
            {
                <div class="square @(board.grid[row, col].IsBlackSquare() ? "black" : "white")"
                     @onclick="() => OnSquareClick(row, col)">
                    @if (board.grid[row, col].piece != null)
                    {
                        <img src="\images\@(board.grid[row, col].piece.color.ToLower())_@(board.grid[row, col].piece.type.ToLower()).png"
                        alt="@board.grid[row, col].piece.type"
                        class="piece" />
                    }
                </div>
            }
        }
    </div>
</body>

@code {
    Board board;

    protected override void OnInitialized()
    {
        board = new Board();
        board.SetupPieces();
        board.ShowCurrentState();
    }

    private void OnSquareClick(int row, int col)
    {
        Console.WriteLine("click");
    }
}

