@page "/menu"
<link href="css/gamemenu.css" rel="stylesheet" />

<div class="modal-overlay">
    <h3>Play on same device:</h3>
    <!-- Player Name Input -->
    <div class="form_field">
        <label>Player Name:</label>
        <input @bind="player1Name" placeholder="White" />
    </div>

    <div class="form_field">
        <label>Player Name:</label>
        <input @bind="player2Name" placeholder="Black" />
    </div>

    <!-- Play Time Dropdown -->
    <div class="form_field">
        <label>Select Play Time (minutes):</label>
        <select @bind="playTime">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="30">30</option>
        </select>
    </div>

    <button @onclick="StartGame" class="menu-button">Start New Game</button>
</div>

<div class="modal-overlay">
    <h3>Play online:</h3>
    <!-- Player Name Input -->
    <div class="form_field">
        <label>Player Name:</label>
        <input @bind="player1Name" placeholder="White" readonly="true" style="pointer-events: none;" />
    </div>

    <button @onclick="PlayOnline" class="menu-button">Play Online</button>
</div>


@code {

    [Inject] private NavigationManager Navigation { get; set; }
    [Inject] private IJSRuntime JS { get; set; }

    private bool showNewGamePopup = true;
    private string player1Name = "";
    private string player2Name = "";
    private int playTime = 5;
    public static bool is_new_game = false;

    // Open the New Game popup
    private void OpenNewGamePopup()
    {
        showNewGamePopup = !showNewGamePopup;
    }

    // Close the popup without starting
    private void CloseNewGamePopup()
    {
        showNewGamePopup = false;
    }

    // Start the game logic
    private void StartGame()
    {
        is_new_game = true;
        showNewGamePopup = false;
        if (player1Name.Length >= 1 && player2Name.Length >= 1)
            Navigation.NavigateTo($"/Game/{player1Name}/{player2Name}/{playTime}");
        else
            Navigation.NavigateTo($"/Game/{"White"}/{"Black"}/{playTime}");
    }


    private async void PlayOnline()
    {
        await JS.InvokeVoidAsync("alert", "This feature is currently not available.");
    }
}
