@page "/gamehistory"
@using DrawbackChess.Classes
@using DrawbackChess.Components.Pages;
@using DrawbackChess.Classes.GameClasses;
@using DrawbackChess.Classes.DatabaseClasses
<link href="css/Game.css" rel="stylesheet" />
<link rel="stylesheet" href="css/layout.css">
<div class="content">
    <h1 class="heading">Previous Games</h1>

    @if (games == null)
    {
        <p>Loading...</p>
    }
    else if (!games.Any())
    {
        <p>No previous games found.</p>
    }
    else
    {
        <ul class="list">
            @foreach (var game in games)
            {
                <li class="item">
                    <strong>Game #@game.Id</strong><br />
                    CurrentBoardstate: @game.board<br />
                </li>
            }
        </ul>
    }
</div>

@code {
    private List<GameObject> games;

    protected override async Task OnInitializedAsync()
    {
        DatabaseService db = new DatabaseService();
        games = await db.GetGamesAsync();
        db.PrintAllGames();
        Console.WriteLine("games fetched");
        StateHasChanged();
    }
}