@page "/"
@using DrawbackChess.Components.IndividualComponents;
<link href="css/Home.css" rel="stylesheet" />

    <div class="content">
        <div class="logoimage">
        <img src="\images\logo.jpg"
             alt="Notfound"
             class="image" />
        </div>
               
    </div>


@code
{

}