<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIKey" value="mongodb://user:knzfKx66sF4iJZa0@cluster0-shard-00-00.el5cb.mongodb.net:27017,cluster0-shard-00-01.el5cb.mongodb.net:27017,cluster0-shard-00-02.el5cb.mongodb.net:27017/?replicaSet=atlas-ts8hui-shard-0&amp;ssl=true&amp;authSource=admin&amp;retryWrites=true&amp;w=majority&amp;appName=Cluster0" />
	</appSettings>
</configuration>