@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }
    [Parameter] public string Title { get; set; } = "Popup";
    [Parameter] public bool IsVisible { get; set; } = false;

    private void ClosePopup()
    {
        IsVisible=false;
    }
}

@if (IsVisible)
{
    <div class="popup-overlay">
        <div class="popup-container">
            <div class="popup-header">
                <h2>@Title</h2>
                <button class="popup-close-btn" @onclick="ClosePopup">X</button>
            </div>
            <div class="popup-body">
                @ChildContent
            </div>
        </div>
    </div>
}

<style>
    .popup-overlay {
        position:relative;
        margin-top:1rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup-container {
        background-color: #F8F8FF;
        border-radius: 10px;
        padding: 1rem;
        width: 90%;
        max-width: 400px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .popup-close-btn {
        background: transparent;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .popup-body {
        margin-top: 0.5rem;
    }

    h2
    {
        color: #5632D5;
        font-size:1.5rem;
    }

    .message
    {
         color:#0D0924;
        font-size: 1rem;
    }
</style>